<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

  <link href="assets/style.css" rel="stylesheet" />

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>

  <script type="module" src="https://unpkg.com/@deckdeckgo/inline-editor@latest/dist/deckdeckgo-inline-editor/deckdeckgo-inline-editor.esm.js"></script>

  <link href="themes/landing-page/css/landing-page.css" rel="stylesheet" />
  <link href="themes/landing-page/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="fonts/Lato.css" rel="stylesheet" />
</head>

<body spellcheck="false">

  <div id="sitefiction">


    <div id="sf-topbar">
      <img src="/assets/img/title.png" id="sf-logo" />

      <div class="form-group float-right">
        <span class="switch">
          <label id="label-layout">Layout</label>
          <input type="checkbox" class="switch" id="switch-normal" v-on:click="toggleMode">
          <label for="switch-normal">Content</label>
        </span>
      </div>

    </div>

    <div class="row no-gutters" id="sf-page">
      <div class="col-2" id="sf-side">

        <span v-if="editing == false">
          <span v-for="layout in layouts">
            <img :src="theme+'previews/'+layout+'.jpg'" class="img-fluid sf-brdr" v-on:click="addItem(layout)" />
          </span>
        </span>
        <span v-else-if="edit_img">

          <pexels-search v-bind:edit_img="edit_img"></pexels-search>

        </span>
        <span v-else>
          <div class="alert alert-warning">Click on text or images to edit</div>
        </span>

      </div>
      <div class="col-10" id="sf-content">

        <div id="sf-header" class="sf-box">

          <div class="editable" v-for="header in headers">
            <edit-btns v-bind:editing="editing"></edit-btns>
            <div v-html="header"></div>
          </div>

        </div>

        <div id="sf-main" class="sf-box">

          <div class="editable" v-for="item in items">
            <edit-btns v-bind:editing="editing"></edit-btns>
            <div v-html="item"></div>
          </div>

          <div v-if="items.length == 0" class="text-center"><img src="assets/img/empty.png" id="empty" /></div>

        </div>

        <br><br><br><br>

      </div>
    </div>

  </div>

  <div id="layouts"></div>

  <deckgo-inline-editor background-color="false" align="false"></deckgo-inline-editor>

  <script type="text/javascript">
    new Vue({
      el: '#sitefiction',
      data: {
        theme: 'themes/landing-page/',
        editing: false,
        edit_img: false,
        nav: false,
        layouts: [],
        headers: [],
        items: []
      },
      methods: {
        addItem(layout) {
          let el = document.getElementById(layout);
          let cat = el.getAttribute('data-category');
          let mylayout = el.innerHTML;
          if (cat == 'headers') {
            this.headers.unshift(mylayout);
          } else {
            this.items.unshift(mylayout);
          }
        },
        toggleMode() {
          if (this.editing == true) {
            this.editing = false;
            document.querySelectorAll('.edit').forEach(function(e) {
              e.removeAttribute("contenteditable");
            })
            document.body.classList.remove('editing');
          } else {
            this.editing = true;
            document.querySelectorAll('.edit').forEach(function(e) {
              e.contentEditable = "true";
            })
            document.body.classList.add('editing');

            let app = this;

            document.body.addEventListener('click', function(e) {
              if (e.target.classList.contains('edit-bg')) {
                app.edit_img = e.target;
              } else if (e.target.classList.contains('edit-img')) {
                app.edit_img = e.target;
              } else if (e.target.closest('#sf-side')) {
                // dont' close when clicking on the target itself
              } else {
                app.edit_img = false;
              }
            })
          }
        },
      },
      components: {
        'pexels-search': httpVueLoader('components/pexels-search.vue'),
        'edit-btns': httpVueLoader('components/edit-btns.vue')
      },
      created: function() {

        let app = this;
        fetch(this.theme + 'layouts.html')
          .then(response => response.text())
          .then(function(html) {

            document.getElementById('layouts').innerHTML = html;
            setTimeout(function() {

              document.querySelectorAll('template').forEach(function(e) {
                let mylayout = e.id;
                app.layouts.push(mylayout);
              })
            }, 5);

          });
      }

    });
  </script>

</body>

</html>