html, body{
  height: 100%;
}

body{
	background-color: #F8F8F8;
}

#sitefiction{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#sf-page{
  height: 100%;
  width: 100%;
}

#sf-topbar{
	padding: 12px;
	padding-bottom: 16px;
	background-color: white;
	border-bottom: 1px solid #DDD;
}

#sf-side{
  background-color: white;
  border-right: 1px solid #DDD;
  height: 100%;
  padding: 15px;
  overflow-y: auto;
}

#sf-content{
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
  overflow-y: auto;
}

#sf-logo{
	width: 150px;
}

.sf-box{

	border: 1px solid #DDD;
	background-color: white;
	max-width: 1200px;
	margin: 0 auto;
  margin-top: 30px;
}

#sf-header{
  	min-height: 200px;
    margin-top: 0;
    border-top: 0;
}

#sf-nav{
  min-height: 50px;
  	margin-bottom: 0;
}

#sf-main{
	min-height: 500px;
}

.sf-brdr{
  border: 1px solid #DDD;
  margin-bottom: 15px;
  cursor: pointer;
}

#empty{
  width: 450px;
  margin: 50px;
  margin-top: 150px;
}

.label{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.sf-edit-btns{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.sf-edit-btn{
  border-radius: 0;
  background-color: #888;
  color: white;
  display: inline-block;
  padding: 15px 20px;
}

.sf-edit-btn:hover{
  background-color: #333;
  cursor: pointer;
}

.editable{
  position: relative;
}

.editing .edit-bg, .editing .edit-img, .editing .edit{
  border: 1px solid transparent;
}

.editing .edit-bg:hover, .editing .edit-img:hover, .editing .edit:not(:focus):hover{
  border: 1px dashed #777;
  cursor: pointer;
}

/*---- Switch ----*/

label#label-layout{
  position: absolute;
  top: -3px;
  right: 135px;
}

label{
  font-size: 15px;
}

.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

.form-group{
  margin-bottom: 0;
}
